@use "mixin";

body {
  @include mixin.backgroundLinear(#eecda3, #FAECE1, #ffeba9, #FAE2E1, #EF629F);

  &.login{
    @include mixin.backgroundLinear(#F5DEB5, #FFD1BD, #E8B7C4, #ECBDFF, #9796F0);
  }
  &.signin{
    @include mixin.backgroundLinear(#29961D, #FFEBBD, #E8B7C4, #BDC4FF, #93F9B9);
  }
  &.profile{
    @include mixin.backgroundLinear(#4267ED, #E4BDFF, #E8B7C4, #FFD5BD, #FFEDBC);
  }


  .container {
    height: 100vh;

    .container-fluid {
      background-color: #fff;
      max-width: 500px;
      border-radius: 10px;

    input.form-control[disabled] {
      background: unset;
      border: none;
  }
      .gradient-text {
        background-color: red;
        background-image: linear-gradient(90deg, #ef629f, #ffa52f);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
      }
      .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #eecda3;
        background-position: bottom;
        background-size: 100% 2px;
        background-repeat: no-repeat;
        text-decoration: none;
        font-weight: 700;
        color: black;
        &:hover {
          color: black;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #ffa52f;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
          background: linear-gradient(to right, #eecda3, #ef629f);
        }
        &:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }

    .message {
      width: 60%;
      height: 50px;

      @media all and (max-width: 576px) {
        width: 100%;
      }
    }
  }
}



.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
